<!DOCTYPE html>
<html>
  <body id="body">
    <div class="header">
      <app-header></app-header>
    </div>
    <div *ngIf="userForm" class="container rounded bg-white mt-5 mb-5">
      <form *ngIf="userForm.controls['typeOfUser']?.value == 'individual'" [formGroup]="userForm" (ngSubmit)="submit()" class="row">
        <div class="col-md-3">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded mt-5" id="individualImage" style="max-width: 17rem; max-height: 17rem; object-fit: contain;" (click)="openDropdown()">
            <div class="dropdown">
              <div class="dropdown-content">
                <a (click)="openImage()">Open image</a><br>
                <a (click)="fileInput.click()">Change image</a>
                <input type="file" id="selectIndividualImage" style="width: 0; height: 0;" (change)="changeImage()" [accept]="'image/png, image/jpeg, image/gif'" #fileInput>
                <br>
                <a (click)="deleteImage()">Delete image</a>
              </div>
            </div>
            <p class="my-3">{{userForm.controls['email'].value}}</p>
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">First name</label>
                <input type="text" class="form-control" [formControlName]="'firstname'">
              </div>
              <div class="col-md-6">
                <label class="labels">Last name</label>
                <input type="text" class="form-control" [formControlName]="'lastname'">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Birthday</label>
                <input type="date" class="form-control" [formControlName]="'birthday'">
              </div>
              <div class="col-md-12">
                <label class="labels">Phone</label>
                <input type="text" class="form-control" [formControlName]="'phone'">
              </div>
              <div class="col-md-12">
                <label class="labels">Street</label>
                <input type="text" class="form-control" [formControlName]="'street'">
              </div>
              <div class="col-md-12">
                <label class="labels">Zip code</label>
                <input type="text" class="form-control" [formControlName]="'zip'">
              </div>
              <div class="col-md-12">
                <label class="labels">City</label>
                <input type="text" class="form-control" [formControlName]="'city'">
              </div>
              <div class="col-md-12">
                <label class="labels">Country</label>
                <input type="text" class="form-control" [formControlName]="'country'">
              </div>
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" style="width: 12rem;">Save Profile</button></div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" style="width: 12rem;" (click)="deleteProfile()">Delete Profile</button></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">My real estate</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
            <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
            <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
          </div>
        </div>
      </form>

      <form *ngIf="userForm.controls['typeOfUser']?.value == 'company'" [formGroup]="userForm" (ngSubmit)="submit()" class="row">
        <div class="col-md-3">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded mt-5" id="companyImage" style="max-width: 17rem; max-height: 17rem; object-fit: contain;" (click)="openDropdown()">
            <div class="dropdown">
              <div class="dropdown-content">
                <a (click)="openImage()">Open image</a><br>
                <a (click)="fileInput.click()">Change image</a>
                <input type="file" id="selectCompanyImage" style="width: 0; height: 0;" (change)="changeImage()" [accept]="'image/png, image/jpeg, image/gif'" #fileInput>
                <br>
                <a (click)="deleteImage()">Delete image</a>
              </div>
            </div>
            <p class="my-3">{{userForm.controls['email'].value}}</p>
          </div>
        </div>
        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Owner's first name</label>
                <input type="text" class="form-control" [formControlName]="'ownerFirstname'">
              </div>
              <div class="col-md-6">
                <label class="labels">Owner's last name</label>
                <input type="text" class="form-control" [formControlName]="'ownerLastname'">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Company name</label>
                <input type="text" class="form-control" [formControlName]="'companyName'">
              </div>
              <div class="col-md-12">
                <label class="labels">Phone</label>
                <input type="text" class="form-control" [formControlName]="'phone'">
              </div>
              <div class="col-md-12">
                <label class="labels">Street</label>
                <input type="text" class="form-control" [formControlName]="'street'">
              </div>
              <div class="col-md-12">
                <label class="labels">Zip code</label>
                <input type="text" class="form-control" [formControlName]="'zip'">
              </div>
              <div class="col-md-12">
                <label class="labels">Zip code</label>
                <input type="text" class="form-control" [formControlName]="'city'">
              </div>
              <div class="col-md-12">
                <label class="labels">Country</label>
                <input type="text" class="form-control" [formControlName]="'country'">
              </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly;">
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" style="width: 12rem;">Save profile</button></div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" style="width: 12rem;" (click)="deleteProfile()">Delete profile</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">My real estate</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
            <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
            <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
