<!DOCTYPE html>
<html>
  <body>
    <nav class="sidebar-navigation w-5">
      <ul>
        <li class="active" id="home" (click)="click('home')">
          <img src="../../../assets/icons/home-outline.svg" class="w-50">
          <span class="tooltip">Home</span>
        </li>
        <li id="messages" (click)="click('messages')">
          <img src="../../../assets/icons/mail-outline.svg" class="w-50">
          <span class="tooltip">Home</span>
        </li>
        <li  id="customers" (click)="click('customers')">
          <img src="../../../assets/icons/people-outline.svg" class="w-50">
          <span class="tooltip">Customers</span>
        </li>
        <li id="statistics" (click)="click('statistics')">
          <img src="../../../assets/icons/stats-chart-outline.svg" class="w-50">
          <span class="tooltip">Statistics</span>
        </li>
        <li id="about" (click)="click('about')">
          <img src="../../../assets/icons/information-outline.svg" class="w-50">
          <span class="tooltip">About</span>
        </li>
        <li id="settings" (click)="click('settings')">
          <img src="../../../assets/icons/settings-outline.svg" class="w-50">
          <span class="tooltip">Settings</span>
        </li>
      </ul>
    </nav>
  </body>
</html>
