<!DOCTYPE html>
<html>
  <body>
    <form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm">
      <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">Please enter your new password!</p>

                    <div class="form-outline form-white mb-4">
                      <input type="email" class="form-control form-control-lg" [formControlName]="'email'" [readonly]="true" (keydown)="cantChangeEmail()" style="color: gray;">
                      <label class="form-label">Email</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <div style="display: flex">
                        <input type="password" id="password" class="form-control form-control-lg" [formControlName]="'password'" #cp>
                        <button type="button" (click)="changePasswordVisibility()" style="width: 2.5rem; margin-left: -3rem; border: 0;">
                          <img *ngIf="cp.attributes[1].value == 'text'" src="../../../../assets/icons/eye-off-outline.svg">
                          <img *ngIf="cp.attributes[1].value == 'password'" src="../../../../assets/icons/eye-outline.svg">
                        </button>
                      </div>

                      <label class="form-label">Password</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <div style="display: flex">
                        <input type="password" id="repeatPassword" class="form-control form-control-lg" [formControlName]="'repeatPassword'">
                        <button type="button" (click)="changePasswordVisibility()" style="width: 2.5rem; margin-left: -3rem; border: 0;">
                          <img *ngIf="cp.attributes[1].value == 'text'" src="../../../../assets/icons/eye-off-outline.svg">
                          <img *ngIf="cp.attributes[1].value == 'password'" src="../../../../assets/icons/eye-outline.svg">
                        </button>
                      </div>

                      <label class="form-label">Password</label>
                    </div>

                    <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="submit()">Reset password</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </body>
</html>
