<!DOCTYPE html>
<html>
  <body>
    <form *ngIf="loginForm" [formGroup]="loginForm">
      <div>
        <span>Email</span>
        <input type="text" [formControlName]="'email'">
      </div>
      <div>
        <span>Password</span>
        <input type="password" id="cp" [formControlName]="'password'" #password>
        <button type="button" (click)="changePasswordVisibility()" style="width: 40px;">
          <img *ngIf="password.attributes[1].value == 'text'" src="../../../../assets/icons/eye-off-outline.svg">
          <img *ngIf="password.attributes[1].value == 'password'" src="../../../../assets/icons/eye-outline.svg">
        </button>
      </div>
      <button (click)="submit()">Log in</button>
    </form>
  </body>
</html>
