@import '~bootstrap/dist/css/bootstrap.css';
@import "../node_modules/ngx-toastr/toastr.css";

w-100 {
  width: 100%;
}

w-50 {
  width: 50%;
}

w-25 {
  width: 25%;
}

w-10 {
  width: 10%;
}

w-5 {
  width: 5%;
}

body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.header {
  height: 3.5rem;
}
